* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    transition: 0.5s;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --theme-color: #fff;
    --second-theme-color: #000;
    --nav-height: 56px;
}

.header-section {
    width: 100%;
}

.header-text-section {
    width: 100%;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 16px 0;
    margin: 10px 0;
    display: block;
}
.text-section {
    margin: 15px 0;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
    cursor: pointer;
}

@keyframes backgroundMove {
    0% {
    background-position: 0% 25%;    
    }

    50% {
    background-position: 100% 50%;
    }

    100% {
    background-position: 0% 75%;    
    }
}