* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.img-wrap {
    width: 24%;
    height: 200px;
    overflow: hidden;
    margin: 5px;
    border-radius: 5px;
}

.img-wrap:hover .img {
    transform: scale(1.2);
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.25s;
}




