*{
    margin: 0;
    padding: 0;
}

.background-test{
    height: 100vh;
    width: 100vw;
    animation: animate .1s linear infinite;
}

@keyframes animate{
    0%{
        background-color: aqua;
    }

    100%{
        background-color: brown;
    }
}