*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item{
    margin-top: 16px;
    font-size: 40px;
    color: #fff;
    text-align: center;
    /* min-height: 380px;
    line-height: 380px; */
    background-color: orange;
    border: solid 1px #ccc;
    min-height: 182px;
    line-height: 182px;
}

.main{
    display: flex;
    margin: 0 32px;
}

.sidebar{
    width: 300px;
    background-color: #b14d51;
}

.content{
    flex: 1;
}

@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet{
        display: none;
    }
}

@media (max-width: 739px) {
    .hide-on-mobile{
        display: none;
    }
}